* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #111;
}

.card {
  height: 420px;
  width: 310px;
  background-image:linear-gradient(to bottom, blue 0px,blue 120px, white 100px, white 380px);
  color: black;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  align-items: center;
  padding: 10px;
  margin: 10px;

  /* image */
  img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #dadada;
    cursor: pointer;
    /* object-fit: cover; */
    
  }
  /* for all logos */
  .socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;

    /* for logo */
    img{
      height: 32px;
      width: 32px;

      border-radius: 50%;
    }
  }
  /* All buttons */
  .btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 20px;

    /* for button */
    button{
      background-color: rgb(59, 59, 192);
      color: white;
      padding: 9px 20px;
      border-radius: 20px;
      font-weight: 500;
      border: 1px solid transparent;
      cursor: pointer;
    }
  }
  .stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
    gap: 10px;
    /* for like comment share */
    .like{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 2px 10px;
      border-right: 1px solid black;
      margin: 5px;
    }
  }
}
