* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(198, 189, 189);
  color: pink;
  height: 100vh;
  width: 100vw;
}

.card {
  width: 800px;
  height: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgb(152, 128, 10);
  color: rgb(104, 66, 66);
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}