* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(198, 189, 189);
  color: pink;
  height: 100vh;
  width: 100vw;
}

.cards {
 display: inline-block;
}

.card {
  width: 402px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #3e3838;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(48, 42, 42);
  text-align: center;
  border-radius: 10px;
}

.card {
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 5px;
  }

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff1f1;
  transition: border-color 0.25s;
}
button:hover{
  cursor: pointer;
  border: 2px solid white;
  background-color: antiquewhite;
}